@model List<Kztek.Model.Models.MainMenu>
@{
    var webinfo = (Kztek.Model.Models.WebInfo)ViewBag.Webconfig;
}
<header class="header-area">
    <!-- Top Header Area Start -->
    @*<div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-5">
                        <div class="top-header-content">
                            <p>Welcome to hair salon!</p>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="top-header-content text-right">
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Sat: 8.00 to 17.00 <span class="mx-2"></span> | <span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us: (+12)-345-6789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Top Header Area End -->
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="akameNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src="@webinfo.LogoPath" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            @if (Model != null && Model.Count > 0)
                            {
                                int count = 0;
                                var listParent = Model.Where(n => n.ParentId == "0").ToList();
                                if (listParent != null && listParent.Count > 0)
                                {
                                    <ul id="nav">
                                        @foreach (var item in listParent)
                                        {
                                            var strUrl = item.Url;

                                            switch (item.Target)
                                            {
                                                case "1":
                                                    break;
                                                case "2":
                                                    strUrl = string.Format("{0}", !string.IsNullOrEmpty(item.NameUrl) ? Url.Action("Index", "Product", new { newcategory = item.NameUrl }) : item.Url);
                                                    break;
                                                case "3":
                                                    strUrl = string.Format("{0}", !string.IsNullOrEmpty(item.NameUrl) ? Url.Action("Index", "Service", new { newcategory = item.NameUrl }) : item.Url);
                                                    break;
                                                case "4":
                                                    strUrl = string.Format("{0}", !string.IsNullOrEmpty(item.NameUrl) ? Url.Action("Index", "News", new { newcategory = item.NameUrl }) : item.Url);
                                                    break;
                                            }

                                            count++;
                                            var listchild = Model.Where(n => n.ParentId == item.Id).ToList();
                                            if (listchild != null && listchild.Count > 0)
                                            {
                                                <li>
                                                    <a href="#">@item.Name</a>
                                                    <ul class="dropdown">
                                                        @Html.Action("Child", new { listChild = listchild, allFunction = Model })
                                                    </ul>
                                                </li>

                                            }
                                            else
                                            {
                                                <li class="@string.Format("{0}",count == 1 ? "active" : "")" idata="@item.NameUrl" id="@string.Format("{0}",count == 1 ? "home" : item.Id)">
                                                    <a href="@strUrl">@item.Name</a>
                                                </li >
                                            }

                                        }

                                    </ul>
                                }

                            }


                            <!-- Cart Icon -->
                            <div class="cart-icon ml-5 mt-4 mt-lg-0">
                                <a href="@string.Format("tel:{0}",webinfo.Phone)" title=""><i class="icon_phone"></i> @webinfo.Phone</a>
                                @*<a href="#"><i class="icon_cart"></i></a>*@
                            </div>
                            <div class="cart-icon ml-5 mt-4 mt-lg-0">
                                <a href="@string.Format("mailto:{0}",webinfo.EmailSystem)" title=""><i class="icon_mail"></i> @webinfo.EmailSystem</a>
                                @*<a href="#"><i class="icon_cart"></i></a>*@
                            </div>
                            <!-- Book Icon -->
                            @*<div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                                <a href="#" class="btn akame-btn">Book Now</a>
                            </div>*@
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>