@*AUTO GENCODE SYSTEM - 04/06/2019 15:12*@
@using Kztek.Web.Core.Extensions
@using Kztek.Model.Models
@model ProductCategory
@{
	ViewBag.Title = "Thêm mới Nhóm sản phẩm";
	var _urlValue = (string)ViewBag.urlValue;
}
<div class="page-header">
	<h1>
		@ViewBag.Title
	</h1>
</div>
<div class="row">
	@if(TempData["Success"] != null)
	{
		<strong style = "color: green" > @TempData["Success"] </strong>
	}
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "frmCreate" }))
        {
            @Html.ValidationMessage("", "", new { @class = "text-danger", @style = "font-size:18; " })
            @Html.Hidden("SaveAndCountinue", false)
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> @Html.LabelFor(m => m.Name)</label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBoxFor(n => n.Name, new { @class = "form-control", @placeholder = "" })
                    @Html.ValidationMessageFor(n => n.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> @Html.LabelFor(m => m.NameUrl)</label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBoxFor(n => n.NameUrl, new { @class = "form-control", @placeholder = "" })
                    @*@Html.ValidationMessageFor(n => n.NameUrl, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Chọn @Html.LabelFor(m => m.ParentId) </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownListFor(n => n.ParentId, new SelectList(ViewBag.ParentIdDDLtree, "ItemValue", "ItemText"), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> @Html.LabelFor(m => m.MetaTitle)</label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBoxFor(n => n.MetaTitle, new { @class = "form-control", @placeholder = "" })
                    @*@Html.ValidationMessageFor(n => n.MetaTitle, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">@Html.LabelFor(m => m.MetaDesc) </label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextAreaFor(n => n.MetaDesc, new { @class = "form-control", @rows = "5", @placeholder = "" })
                    @*@Html.ValidationMessageFor(n => n.MetaDesc, "", new { @class = "" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> @Html.LabelFor(m => m.MetaKeywork)</label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBoxFor(n => n.MetaKeywork, new { @class = "form-control", @placeholder = "" })
                    @*@Html.ValidationMessageFor(n => n.MetaKeywork, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">@Html.LabelFor(m => m.Description) </label>
                <div class="col-sm-9 col-xs-12">
                    @Html.TextAreaFor(n => n.Description, new { @class = "form-control ckeditor", @placeholder = "" })
                    @*@Html.ValidationMessageFor(n => n.Description, "", new { @class = "" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">@Html.LabelFor(m => m.IconPath)</label>
                <div class="col-sm-6 col-xs-12 center btn-group">
                    @Html.TextBoxFor(c => c.IconPath, new { @class = "form-control" })
                </div>
                <input type="button" id="Browse" value="Browse..." class="btn btn-default" style="height:33px; line-height:15px;" onclick="OpenIconPath()">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-4"></label>
                <div class="col-sm-7">
                    <img id="blah_IconPath" src="@string.Format("{0}",Model!=null && !string.IsNullOrWhiteSpace(Model.IconPath)?Model.IconPath:"")" alt="" style="max-width:200px" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">@Html.LabelFor(m => m.CorverPath)</label>
                <div class="col-sm-6 col-xs-12 center btn-group">
                    @Html.TextBoxFor(c => c.CorverPath, new { @class = "form-control" })
                </div>
                <input type="button" id="Browse" value="Browse..." class="btn btn-default" style="height:33px; line-height:15px;" onclick="OpenCorverPath()">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="form-field-4"></label>
                <div class="col-sm-7">
                    <img id="blah_CorverPath" src="@string.Format("{0}",Model!=null && !string.IsNullOrWhiteSpace(Model.CorverPath)?Model.CorverPath:"")" alt="" style="max-width:200px" />
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> @Html.LabelFor(m => m.Ordering)</label>
                <div class="col-sm-2 col-xs-12">
                    @Html.TextBoxFor(n => n.Ordering, new { @class = "form-control", @placeholder = "", @Value = "0" })
                    @*@Html.ValidationMessageFor(n => n.Ordering, "", new { @class = "text-danger" })*@
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> @Html.LabelFor(m => m.Active) </label>
                <div class="col-sm-4">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.Active, new { @class = "ace", @checked = "true" })
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            @Html.Action("Buttons", "Home", new { controller = "ProductCategory", action = "Create" })
        }
    </div>
</div>
@section scripts
{
	<script src="~/Scripts/editors/ckeditor/ckeditor.js"></script>
	<script src="~/Scripts/editors/ckfinder/ckfinder.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			CKEDITOR.replaceClass = 'ckeditor';
			$('#ac_85695777').addClass('open');
			$('#ac_110443008').addClass('open active');
			$('#Countinue').click(function() {
			$('#SaveAndCountinue').val('true');
				$('#frmCreate').submit();
			});
			$('#CountinueAndClose').click(function() {
				$('#SaveAndCountinue').val('false');
				$('#frmCreate').submit();
			});
			$('#btnBackToHome').click(function() {
				location.href = '@_urlValue';
			});
		});
</script>
<script>
	function OpenIconPath() {
		var finder = new CKFinder();
		finder.selectActionFunction = function (fileUrl) {
		$('#IconPath').val(fileUrl);
		$('#blah_IconPath').css('display', 'block').attr('src', fileUrl).attr('width', 200);
		};
		finder.popup();
	}
	function OpenCorverPath() {
		var finder = new CKFinder();
		finder.selectActionFunction = function (fileUrl) {
		$('#CorverPath').val(fileUrl);
		$('#blah_CorverPath').css('display', 'block').attr('src', fileUrl).attr('width', 200);
		};
		finder.popup();
	}
</script>
}
