@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@model PageModel<Kztek.Model.Models.User>

@{
    ViewBag.Title = "Hệ thống";
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var _user = Kztek.Web.Core.Functions.GetCurrentUser.GetUser();
}

<div class="page-header">
    <h1>
        Danh sách người dùng
    </h1>
</div>
<div class="row">
    @using (Html.BeginForm("Index", "User", FormMethod.Get, new { id = "frmUser" }))
    {
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <input type="text" name="key" value="@ViewBag.keyValue" placeholder="Từ khóa..." class="form-control" />
        </div>
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            @Html.Action("Actions", "Home", new { ActionName = "Search", ControllerName = controller })

            @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = controller })
        </div>
    }
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        @Html.Action("Actions", "Home", new { ActionName = "Create", ControllerName = controller })
    </div>
</div>

<div class="hr hr-18 dotted hr-24"></div>
<div class="row">
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center hidden-480">Id</th>
                    <th class="center">Tên người dùng</th>
                    <th class="center hidden-480">Số điện thoại</th>
                    <th class="center hidden-480">Username</th>
                    <th class="center hidden-480">Ngày tạo</th>
                    <th class="center hidden-480">Trạng thái</th>
                    <th class="center hidden-480">Vai trò</th>
                    <th class="center hidden-480">Quyền hạn</th>
                    <th class="center">Xử lý</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    foreach (var item in Model.Data)
                    {
                        <tr>
                            <td class="text-left hidden-480">
                                @item.Id
                            </td>

                            <td class="text-left">
                                @item.Name
                            </td>

                            <td class="text-left hidden-480">
                                @item.Phone
                            </td>

                            <td class="text-left hidden-480">
                                @item.Username
                            </td>

                            <td class="center hidden-480">
                                @if (item.DateCreated != null)
                                {
                                    <span>@Convert.ToDateTime(item.DateCreated).ToString("dd/MM/yyyy")</span>
                                }
                            </td>

                            <td class="center hidden-480">
                                @if (item.Active)
                                {
                                    <span class="label label-sm label-success">Kích hoạt</span>
                                }
                                else
                                {
                                    <span class="label label-sm label-warning">Chưa kích hoạt</span>
                                }
                            </td>

                            <td class="center hidden-480">
                                @if (item.Admin)
                                {
                                    <span class="label label-sm label-danger">Admin</span>
                                }
                                else
                                {
                                    <span class="label label-sm label-info">User</span>
                                }
                            </td>
                            <td class="text-left hidden-480">
                                @if (item.Admin == false)
                                {
                                    @Html.Action("RoleList", "User", new { userId = item.Id })
                                }
                            </td>
                            <td class="center">
                                <div class="btn-group">
                                    @Html.Action("Actions", "Home", new { ActionName = "Update", ControllerName = controller, id = item.Id })
                                    @Html.Action("Actions", "Home", new { ActionName = "Delete", ControllerName = controller, id = item.Id })
                                    @Html.Action("Actions", "Home", new { ActionName = "RestoreDefaultPass", ControllerName = controller, id = item.Id })
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.span -->
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", "User", new
           {
               page = x,
               key = ViewBag.keyValue,
           }))
            </div>
        </div>
    }
</div><!-- /.row -->
@section scripts{
    <script>
        $(document).ready(function () {
            SearchSubmit("frmUser");

            DeleteSubmit('/Admin/User/Delete');

            //Phục hồi mật khẩu 1 bản ghi
            $('.btnRes').click(function () {
                var cmd = $(this);
                var _id = cmd.attr('idata');
                if (confirm('Bạn chắc chắn muốn phục hồi mật khẩu tài khoản này?')) {
                    $.ajax({
                        url: '/Admin/User/RestorePassToDefault',
                        data: { id: _id },
                        type: 'json',
                        //async:false,
                        success: function (data) {
                            if (data.isSuccess) {
                                toastr.success('Phục hồi thành công', 'Thông báo');
                            } else {
                                toastr.error('Phục hồi thất bại', 'Thông báo');
                            }
                        }
                    });
                }
            });
        });
    </script>
}