@model List<Kztek.Model.Models.MenuFunction>

@{
    var lstRoleMenu = (List<Kztek.Model.Models.RoleMenu>)ViewBag.RoleMenuList;
}

@if (Model.Any())
{
    <ul class="treeCustom" style="list-style-type:none">
        @foreach (var item in Model.Where(n => n.ParentId == "0").OrderBy(n => n.OrderNumber))
        {
            var child = Model.Any(n => n.ParentId.Equals(item.Id));
            if (child)
            {
                if (lstRoleMenu != null && lstRoleMenu.Any(n => n.MenuId.Equals(item.Id)))
                {
                    <li>
                        <i class="ace-icon fa fa-plus-circle"></i>
                        <label>
                            <input type="checkbox" name="chkCheckBoxValue" class="chkCheckBoxValue ace" value="@item.Id" checked />
                            <span class="liMenuName lbl">@item.MenuName</span>
                        </label>
                        @Html.Action("MenuFunctionChild", "Role", new { parentid = item.Id, roleid = ViewBag.RoleId })
                    </li>
                }
                else
                {
                    <li>
                        <i class="ace-icon fa fa-plus-circle"></i>
                        <label>
                            <input type="checkbox" name="chkCheckBoxValue" class="chkCheckBoxValue ace" value="@item.Id" />
                            <span class="liMenuName lbl">@item.MenuName</span>
                        </label>
                        @Html.Action("MenuFunctionChild", "Role", new { parentid = item.Id, roleid = ViewBag.RoleId })
                    </li>
                }
            }
            else
            {
                if (lstRoleMenu != null && lstRoleMenu.Any(n => n.MenuId.Equals(item.Id)))
                {
                    <li>
                        <label>
                            <input type="checkbox" name="chkCheckBoxValue" class="chkCheckBoxValue ace" value="@item.Id" checked />
                            <span class="liMenuName lbl">@item.MenuName</span>
                        </label>
                    </li>
                }
                else
                {
                    <li>
                        <label>
                            <input type="checkbox" name="chkCheckBoxValue" class="chkCheckBoxValue ace" value="@item.Id" />
                            <span class="liMenuName lbl">@item.MenuName</span>
                        </label>
                    </li>
                }
            }
        }
    </ul>
}