@{
    Layout = null;
}

@{
    Layout = null;
    //Kztek.Data.KztekEntities db = new Kztek.Data.KztekEntities();
    //bool isExist = db.UserManagers.Any();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>EAZYERP</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.png" type="image/png" />

    <!--Basic css-->
    @Styles.Render("~/Content/AdminLayout/Admincss")

    <!-- ace settings handler -->
    <script src="~/Content/AdminLayout/js/ace-extra.js"></script>

    <link href="~/Content/ToastrJquery/toastr.css" rel="stylesheet" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">EAZYERP </span>
                                <span class="white" id="id-text2">EAZYERP</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; EAZYERP JSC</h4>
                        </div>

                        <div class="position-relative">
                            <div id="forgot-box" class="forgot-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        @if (TempData["Success"]!=null)
                                        {
                                            <strong style="color:green">@TempData["Success"]</strong>
                                        }
                                        @if (TempData["Error"] != null)
                                        {
                                            <strong style="color:red">@TempData["Error"]</strong>
                                        }
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Nhận lại mật khẩu
                                        </h4>

                                        <p>
                                            Vui lòng nhập email khôi phục
                                        </p>

                                        @using (Html.BeginForm("RecoveryPassword", "Login", FormMethod.Post))
                                        {
                                            @Html.ValidationSummary()
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="email" name="txtEmail" id="txtEmail" class="form-control" placeholder="Email" required />
                                                    <i class="ace-icon fa fa-envelope"></i>
                                                </span>
                                            </label>

                                            <div class="clearfix">
                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                    @*onclick="GetRecovery()"*@
                                                    <i class="ace-icon fa fa-lightbulb-o"></i>
                                                    <span class="bigger-110">Gửi</span>
                                                </button>
                                            </div>
                                        }
                                    </div><!-- /.widget-main -->
                                    <div class="toolbar center">
                                        <a href="@Url.Action("Index","Login")" class="back-to-login-link">
                                            Quay lại đăng nhập
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.forgot-box -->
                        </div><!-- /.position-relative -->

                        <div class="navbar-fixed-top align-right">
                            <br />
                            &nbsp;
                            <a id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
   @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/ToastrJquery/toastr.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">

        //you don't need this, just used for changing background
        jQuery(function ($) {

            var login_layout = readCookie("login_layout");
            if (login_layout != "") {
                if (login_layout == "dark") {
                    $('body').attr('class', 'login-layout');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'blue');
                }
                else if (login_layout == "blur") {
                    $('body').attr('class', 'login-layout blur-login');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'light-blue');
                }
                else {
                    $('body').attr('class', 'login-layout light-login');
                    $('#id-text2').attr('class', 'grey');
                    $('#id-company-text').attr('class', 'blue');
                }
            } else {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');
            }

            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                createCookie("login_layout", "dark", 30);
                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                createCookie("login_layout", "light", 30);
                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                createCookie("login_layout", "blur", 30);
                e.preventDefault();
            });

        });
    </script>
    <script>
        //function GetRecovery() {
        //    var email = $("#txtEmail").prop("value");

        //    $.ajax({
        //        url: "http://192.168.3.7:86" + '/api/CustomerRegister/Get',
        //        data: { id: email },
        //        type: 'GET',
        //        //async: false,
        //        success: function (data) {
        //            if (data != "No") {
        //                $.ajax({
        //                    url: "/GetConnectString/GetConnect",
        //                    data: { connect: data },
        //                    type: 'Post',
        //                    //async:false,
        //                    success: function (data1) {
        //                        if (data1) {
        //                            $.ajax({
        //                                url: "/Login/GetRecovery",
        //                                data: { txtEmail: email },
        //                                type: 'Post',
        //                                //async:false,
        //                                success: function (data1) {
        //                                    if (data1) {
        //                                        window.location.href = "/Login/Index";
        //                                    } else {
        //                                        toastr.error('Có lỗi xảy ra trong quá trình phục hồi', 'Thông báo')
        //                                    }
        //                                }
        //                            });
        //                        } else {
        //                            //window.location.href = "/Login/Index";
        //                            toastr.error('Có lỗi xảy ra trong quá trình phục hồi', 'Thông báo')
        //                        }
        //                    }
        //                });
        //            } else if (data == "NoActive") {
        //                toastr.error('Tài khoản chưa đến ngày sử dụng hoặc hết hạn sử dụng. Vui lòng kiểm tra lại thông tin đăng ký trong email đăng ký.', 'Thông báo')
        //            } else {
        //                toastr.error('Kết nối không tồn tại với tài khoản này. Vui lòng kiểm tra lại.', 'Thông báo')
        //            }
        //        }
        //    });
        //}
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }
    </script>
</body>
</html>