@model Kztek.Model.Models.User

@{
    Layout = null;

    Kztek.Data.KztekEntities db = new Kztek.Data.KztekEntities();

    bool isExist = db.Users.Any();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Kztek JSC</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.png" type="image/png" />

    <!--Basic css-->
    @Styles.Render("~/Content/AdminLayout/Admincss")

    <link href="~/Content/AdminLayout/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/AdminLayout/css/fonts.googleapis.com.css" rel="stylesheet" />

    <!-- ace settings handler -->
    @*<script src="~/Content/AdminLayout/js/ace-extra.js"></script>*@

    <link href="~/Content/ToastrJquery/toastr.css" rel="stylesheet" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">Kztek </span>
                                <span class="white" id="id-text2">Application</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Kztek JSC</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="signup-box" class="signup-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            Tạo tài khoản mới
                                        </h4>
                                        <div class="space-6"></div>
                                        <p> Enter your details to begin: </p>
                                        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
                                        {
                                            <fieldset>
                                                @Html.ValidationSummary(false, "", new { @class="text-danger"})
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                       @Html.TextBoxFor(n => n.Email, new { @class = "form-control", @placeholder = "Email" })
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(n => n.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(n => n.Name, new { @class = "form-control", @placeholder = "Họ tên" })
                                                        <i class="ace-icon fa fa-book"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(n => n.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" })
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBox("repass", "", new { @class = "form-control", @type = "password", @placeholder = "Nhập lại mật khẩu" })
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(n => n.Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                                                        <i class="ace-icon fa fa-phone"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextAreaFor(n => n.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
                                                        <i class="ace-icon fa fa-building"></i>
                                                    </span>
                                                </label>

                                                <label class="block">
                                                    @Html.CheckBox("active",true, new { @class = "ace" })
                                                    <span class="lbl">
                                                        Active
                                                    </span>
                                                </label>

                                                <label class="block">
                                                    @Html.CheckBox("admin",true, new { @class = "ace" })
                                                    <span class="lbl">
                                                        Admin
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Nhập lại</span>
                                                    </button>

                                                    <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">Đăng ký</span>
                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        }
                                    </div>

                                    <div class="toolbar center">
                                        <a href="@Url.Action("Index", "Login")" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Trở về đăng nhập
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->

                        <div class="navbar-fixed-top align-right">
                            <br />
                            &nbsp;
                            <a id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @Scripts.Render("~/bundles/jquery")

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">

        //you don't need this, just used for changing background
        jQuery(function ($) {

            var login_layout = readCookie("login_layout");
            if (login_layout != "") {
                if (login_layout == "dark") {
                    $('body').attr('class', 'login-layout');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'blue');
                }
                else if (login_layout == "blur") {
                    $('body').attr('class', 'login-layout blur-login');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'light-blue');
                }
                else {
                    $('body').attr('class', 'login-layout light-login');
                    $('#id-text2').attr('class', 'grey');
                    $('#id-company-text').attr('class', 'blue');
                }
            } else {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');
            }

            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                createCookie("login_layout", "dark", 30);
                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                createCookie("login_layout", "light", 30);
                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                createCookie("login_layout", "blur", 30);
                e.preventDefault();
            });

        });
    </script>
    <script>
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }
    </script>
</body>
</html>