@using Kztek.Model.Models
@using Kztek.Model.CustomModel
@model List<Product>

@foreach (var item in Model)
{
    <div class="col-12 col-md-6 col-lg-4">
        <div class="single-post-area mb-80">
            <div class="post-thumbnail">
                <a  href="@Url.Action("View","Product",new {id = item.Id })"><img src="@item.CorverPath" alt="" style="height:200px"></a>
            </div>
            <div class="post-content">
                <a href="#" class="post-title">@item.Name</a>
                <div class="post-meta">
                    <p ><i class="icon_clock_alt"></i> @item.DateCreated.ToString("dd/MM/yyyy")</p>
                    @*<a href="#" class="post-comments"><i class="far fa-eye"></i> @item.</a>*@
                </div>
                <p>@Html.Raw(item.Description)</p>
            </div>
        </div>
    </div>
}
