@model Kztek.Model.Models.MenuFunction

@{
    ViewBag.Title = "Create";
}

<style>
    .fontawesome-select {
        font-family: 'FontAwesome', 'Helvetica';
    }
</style>

    <div class="page-header">
        <h1>
            Thêm mới menu
        </h1>
    </div>
    <div class="row">
        @if (TempData["Success"]!=null)
        {
            <strong style="color:green">@TempData["Success"]</strong>
        }
    </div>
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Create", "MenuFunction", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "frmCreate" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Tên menu </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.MenuName, new { @class = "col-xs-12 col-sm-5", @placeholder = "Nhập tên menu" })
                        @Html.ValidationMessageFor(n => n.MenuName, "", new { @class = "text-danger" })
                        @Html.Hidden("SaveAndCountinue", false)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Tên controller </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.ControllerName, new { @class = "col-xs-12 col-sm-5", @placeholder = "Nhập tên controller", @Value = ViewBag.controller })
                        @Html.ValidationMessageFor(n => n.ControllerName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Tên action </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.ActionName, new { @class = "col-xs-12 col-sm-5", @placeholder = "Nhập tên controller" })
                        @Html.ValidationMessageFor(n => n.ActionName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Cấp cha </label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(n => n.ParentId, new SelectList(ViewBag.DDLMenu, "Id", "MenuName", ViewBag.parent), new { @class = "col-xs-12 col-sm-5" })
                        @Html.ValidationMessageFor(n => n.ParentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Loại </label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(n => n.MenuType, new SelectList(ViewBag.DDLMenuType, "ItemValue", "ItemText", ViewBag.menytypeValue), new { @class = "fontawesome-select col-xs-6 col-sm-3" })
                        @Html.ValidationMessageFor(n => n.Icon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Icon </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.Icon, new { @class = "col-xs-6 col-sm-3", @placeholder = "Icon" })
                        @Html.ValidationMessageFor(n => n.Icon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Số thứ tự </label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(n => n.OrderNumber, new { @class = "col-xs-12 col-sm-2", @placeholder = "Nhập số thứ tự", @Value = ViewBag.ordernuValue })
                        @Html.ValidationMessageFor(n => n.OrderNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Sử dụng </label>
                    <div class="col-sm-8">
                        <label class="line-height-250">
                            @Html.CheckBoxFor(n => n.Active, new { @class = "ace", @checked = "true" })
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
                @Html.Action("Buttons", "Home", new { controller = "MenuFunction", action = "Create", url = ViewBag.urlValue })
            }
        </div>
    </div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#Countinue').click(function() {
			$('#SaveAndCountinue').val('true');
				$('#frmCreate').submit();
			});
			$('#CountinueAndClose').click(function() {
				$('#SaveAndCountinue').val('false');
				$('#frmCreate').submit();
			});
			$('#btnBackToHome').click(function() {
				location.href = '/Admin/MenuFunction/';
			});
        });
    </script>
}