@model List<Kztek.Model.Models.MenuFunction>

@{
    var list = (List<Kztek.Model.Models.MenuFunction>)ViewBag.ListMenu;
}
@if (Model.Any())
{
    <style>
        .submenu1 {
            display: none;
        }
    </style>

    <ul style="list-style-type:none;" class="submenu1">

        @foreach (var item in Model)
        {
            var strActive = item.Active ? "" : "text-decoration:line-through";
            var child = list.Where(n => n.ParentId.Equals(item.Id)).ToList();
            <li>
                <input type="checkbox" name="chkCheckBox" class="chkCheckBox ace" value="@item.Id" />
                <span class="showButton lbl" style="@strActive">
                    <span>@item.OrderNumber</span>. @item.MenuName
                    @*<span class="hideblock">
                            <a href="@Url.Action("Update", "MenuFunction", new { @id = item.Id })" class="green" title="Cập nhật">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </a>
                        </span>*@
                </span>
                <span>
                    <a href="@Url.Action("Update", new { id = item.Id })">
                        <i class="ace-icon fa fa-pencil-square-o"></i>
                    </a>
                </span>

                @if (child.Any())
                {
                    @Html.Action("MenuChilden", "MenuFunction", new { childList = child, AllList = list })
                }
            </li>
        }

    </ul>
}
